<div class="row" ng-scroll-event="listLoad()">
  <div class="col-lg-12">
    <h3>{{nav.items[nav.active].name}}</h3>
    <hr />
  </div>
  <div ng-repeat="simnut in simnuts" class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-click="move('app/'+simnut.id);">
    <h4 class="row">
      <div class="col-xs-11">
        <a ng-href="#/app/{{simnut.id}}">
          {{simnut.title}}
        </a>
        <small class="text-success">
          <i class="fa fa-thumbs-o-up"></i>
          {{simnut.count_likes?simnut.count_likes:0}}
          <small><p>{{simnut.created}}</p></small>
        </small>
      </div>
      <div class="col-xs-1" ng-class="{hide:nav.active!='mine'}">
        <span class="glyphicon glyphicon-remove-circle" ng-click="deleteSimnut($event);" data-id="{{simnut.id}}"></span>
      </div>
    </h4>
    <p>{{simnut.description}}...</p>
    <hr />
    <!--<p><a class="btn btn-default" href="/kakaoapp/#!/app/{app.id}">더 읽기 &raquo;</a></p> -->
  </div>
</div>