<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
    <h3>회원가입</h3>
    <form class="form" ng-submit="userRegist();">
      <div class="form-group">
        <input type="text" name="username" ng-model="regist.username" placeholder="아이디" class="form-control" required="true">
      </div>
      <div class="form-group">
        <input type="password" name="password" ng-model="regist.password" placeholder="패스워드" class="form-control" required="true">
      </div>
      <div class="form-group">
        <input type="password" name="password_confirm" ng-model="regist.password_confirm" placeholder="패스워드 확인" class="form-control" required="true">
      </div>
      <div class="form-group">
        <select name="age" ng-model="regist.age" class="form-control">
          <option value="10">10대 미만</option>
          <option value="20">20대</option>
          <option value="30">30대</option>
          <option value="40">40대</option>
          <option value="50">50대</option>
          <option value="60">60대 이상</option>
        </select>
      </div>
      <div class="form-group">
        <select name="gender" ng-model="regist.gender" ng-model="regist.gender" class="form-control">
          <option value="남">남자</option>
          <option value="여">여자</option>
        </select>
      </div>
      <button type="submit" class="btn btn-info">회원가입</button>
    </form>
  </div>
</div>